.ab{
    background-color: #800080;
     }
.bc{
    background-color:#ffff00;
     }  
.cd{
    background-color: #ff6347;
     }
.parentDiv{
    border : solid;
    border-color: black;
    display : flex;
    flex-direction:row;
    justify-content:center;
    background-color: #00ff00;
    }

.borderDiv{
    border: solid;
    border-color: "red";
}
.cd p{
    color:red;
     position: absolute;
     top:80%;
     left:50%;
     transform:translate(-50%, -50%);
     opacity:7;
}
